<a href="https://colab.research.google.com/github/RubenCamachoAlvarez/Programacion_orientada_objetos/blob/main/LunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Esto es un comentario
print("Hola Mundo")  # Esto imprime "Hola Mundo"
"""
este es
un 
comentario de
múltiple línea
"""

Hola Mundo

'\neste es\nun \ncomentario de\nmúltiple línea\n'

In [ ]:
!ls -a

.  ..  .config	sample_data

In [ ]:
print("Hola", "Mundo")

print("Hola" + "Mundo")

print("Hola", "Mundo", sep="-")  # Imprime: Hola-Mundo

print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [ ]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {} y estudio {} en la FES Aragón".format(nombre, carrera))

Mi nombre es José y estudio ICO, la mejor en la FES Aragón

In [ ]:
nombre = "José"
carrera = "ICO, la mejor"
#Operador * incrementa el numero de apariciones
print(f"Mi nombre es {nombre} y estudio en {carrera*2} dentro de la FES")

Mi nombre es José y estudio en ICO, la mejorICO, la mejor dentro de la FES

In [ ]:
#Operadores aritmeticos
suma=5+3 #8
resta=5-3 #2
producto=5*3 #15
division=5/3
divisionDos=5//3
modulo=5%3
potencia=5**3
print("La suma es:", suma)

In [ ]:
# Operadores de comparación
igual = 5 == 3  # False
diferente = 5 != 3  # True
mayor_que = 5 > 3  # True
menor_que = 5 < 3  # False
mayor_o_igual_que = 5 >= 3  # True
menor_o_igual_que = 5 <= 3  # False
print(igual) # print(diferente)
#print( mayor_que)

False

In [ ]:
# Operadores lógicos
y = True and False  # False
o = True or False  # True
no = not True  # False
print("Ejemplo uno",True and True and True)
print("Ejemplo dos",True and False and True)
print("Ejemplo tres", True or True or True)
print("Ejemplo cuatro",False or(True and False) )

In [ ]:
#Cadenas de texto
#\n Salto de linea   \t tabulador \

saludo = "Hola Mundo"
cita = 'Los alumnos\n de ICO \t\t \'dicen\': "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""
print(f"Imprecion de cadenas\n {saludo}\n {cita} \n {parrafo} .")

Imprecion de cadenas
 Hola Mundo
 Los alumnos de ICO dicen: "Hola Mundo"
 Esto es un párrafo
que abarca varias
líneas .

In [ ]:
#C asignar fn_Uno
def fn_uno():
   print("Hola esto no fue un hola mundo")

a, b, c = 10, "Hola", fn_uno
print(a)
print(b)
print(c)

c.__call__()

10
Hola
<function fn_uno at 0x7f1f7d697b50>
Hola esto no fue un hola mundo

In [ ]:
#entrada por teclado
nombre=input("Por favor, ingresa tu nombre:")
print(f"Hola, {nombre}")

Por favor, ingresa tu nombre:Jose
Hola, Jose

In [ ]:
numero=int("20")
print(numero)
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad} años")

20
Introduce tu edad:12
Jose tiene 12 años

In [ ]:
mensaje = "Hola Mundo"  # String
edad = 20               # Integer
pi = 3.14159            # Float
es_mayor = True         # Boolean
imaginario = 3 + 4j     # Imaginario

In [ ]:
edad

20

In [ ]:
imaginario

(3+4j)

In [ ]:
#Tipos compuestos: listas, tuplas, conjuntos
#Lista
frutas=['limon','"aguacate','fresa']
print("Elemento 1:",frutas[0])
print("Elemento 2: ",frutas[2])
print("Elemento -1:",frutas[-1])
#Tuplas
#Conjuntos

Elemento 1: limon
Elemento 2:  fresa
Elemento -1: fresa

In [ ]:
cosas=['limon',10,3.1416,True, [1,2,3,4],'Hola']
print(cosas)

['limon', 10, 3.1416, True, [1, 2, 3, 4], 'Hola']

#Slicing en python
[inicio:alto:paso]
posibilidad de obtener rebanadas apartir de un tipo de dato de lista o tupla, en general de un iterable. Un tipo de dato string es un iterable.
Por defecto inicio==0, alto==tamaño de la variable, paso/avance==1

In [ ]:
ejemplo=[1,2,3,4,5,6,'a','b','c','d','e']
print(ejemplo)
#Imprecion de un rango
rebanada=ejemplo[2:6:1]
print(rebanada)
#Ejercicio: obetener a,b,c
rebanada=ejemplo[6:9]
print(rebanada)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']
[3, 4, 5, 6]
['a', 'b', 'c']

In [ ]:
#Tuplas: semejantes a las listas, pero son inmutables.
frutas_dos=('aguacate','limon','naranja')
print(frutas)
print(frutas_dos)
frutas[1]='Piña'
#Error, no es posible cambiarlo 
#frutas_dos[1]='Piña'
print(frutas[1])
print(frutas_dos[1])
print(frutas_dos[-1])

['limon', 'Piña', 'fresa']
('aguacate', 'limon', 'naranja')
Piña
limon
naranja

#Diccionarios teoria
1. Conjunto de pares llave-valor
2. Agrupados por ':'
3. La llave siempre es detipo string
4. El Valor es de cualquier tipo
5. El Selector es de la forma ['llave']
6. Mutable
7. Se declara con { }
8. Los pares son sepados por ','

In [ ]:
#Diccionarios
alumno={'numero_cuenta':12323156, 'carrera':'ICO',
          'direccion':{'calle':'rancho seco', 'numero':23}      
}
print(alumno)
#Seleccion de llave
print(alumno['carrera'])
print(alumno['direccion'])

#Como imprimir el numero 23
#como imprimir 'cho' de las direccion

{'numero_cuenta': 12323156, 'carrera': 'ICO', 'direccion': {'calle': 'rancho seco', 'numero': 23}}